@import "./styles/variables.scss"; 
@import "./styles/typography.scss";

@media only  screen and (max-width: 550px) {
  body{
  height: 100vh;
  width: 100vh;
  font-family: $primary-font;
  background-color: $primary-color;
#flex_container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px; 
 
} 

  #logo {
    font-family: $primary-font;
    color: white

  }

  #reset_button {
    height: 90px;
    width: 200px;
    background-color: $secondary-color;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 15px;


  }
  #main_container {
    height:700px;
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left
    ;
    
   

  }

  #welcome_header {
    color: white;
    font-size: 50px;
    
    
  }

  #main_placeholder {
    color: $teritary-color;
    font-size: 22px;
    margin-top: 10px;
  }

  #input-container{
    height: 100px;
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #input {
    height: 77px;
    width: 85%;
    font-size: 29px;
    background-color: $teritary-color;
  }
  #plus_button {
    width: 50px;
    height: 50px;
    border-radius: 60px;
    font-size: 25px;
    background-color: $secondary-color;
  }
  #main_tasks{
    color:white;
    font-size: 30px;

  }
  #task-list {
    font-size: 30px;
    color: white
  }

} 
} 


@media only  screen  and (min-width: 550px) {
  body{
    height: 100vh;
    width: 95%;
    font-family: $primary-font;
    background-color: $primary-color;
  #flex_container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px; 
   
  } 
  
    #logo {
      font-family: $primary-font;
      color: white
  
    }
  
    #reset_button {
      height: 70px;
      width: 144px;
      background-color: $secondary-color;
      color: white;
      border-radius: 10px;
      font-size: 15px;
      margin-right: 15px;
  
  
    }
    #main_container {
      height: 60%;
      width: 80%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;
      
     
  
    }
  
    #welcome_header {
      color: white;
      font-size: 50px;
      
      
    }
  
    #main_placeholder {
      color: $teritary-color;
      font-size: 22px;
      margin-top: 10px;
    }
  
    #input-container{
      height: 100px;
      width: 88%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $teritary-color;
      border: $secondary-color dashed 2px;
      
    #input {
      height: 77px;
      width: 85%;
      font-size: 29px;
      background-color: $teritary-color;
      
    }
    }
    #plus_button {
      width: 50px;
      height: 50px;
      border-radius: 60px;
      font-size: 25px;
      background-color: $secondary-color;
    }
    #main_tasks{
      color:white;
      font-size: 30px;
  
    }
    #task-list {
      font-size: 30px;
      color: white
    }
  
  } 
  } 
  

